[project]
	description = Gesture based speech recognition to assist in responding to monotonous/repetitive automated tellers/voice systems
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sushil (ssushilt)
[access "refs/for/refs/*"]
	read = group user/Sushil (ssushilt)
	push = group user/Sushil (ssushilt)
	label-Code-Review = -2..+2 group user/Sushil (ssushilt)
	label-Verified = -1..+1 group user/Sushil (ssushilt)
	rebase = group user/Sushil (ssushilt)
	removeReviewer = group user/Sushil (ssushilt)
	submit = group user/Sushil (ssushilt)
[access "refs/heads/*"]
	read = group user/Sushil (ssushilt)
	create = group user/Sushil (ssushilt)
	push = +force group user/Sushil (ssushilt)
	pushMerge = group user/Sushil (ssushilt)
[access "refs/tags/*"]
	push = group user/Sushil (ssushilt)
	push = +force group user/Sushil (ssushilt)
