/*	COLOR SCHEME ////////
	
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	font-family: 'Roboto', Calibri, Arial, Helvetica, sans-serif;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
body {
	line-height: 1;
	width: 100%;
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


footer, header, hgroup, menu, nav, section, body {
	display: block;
	margin:0;
	padding:0;
}

html, body, #wrap { height: 100%; }

body {
	height: auto;
	min-height: 100%;
	color: #525A5D;
	overflow: hidden;
	background: #F6F6F6;
	width: auto;
	margin: 0 auto;
    max-width: 1000px;
    padding: 0 10px;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
	
.clearfix { display: inline-block; }
* html .clearfix { height: 1%;}
.clearfix { display: block; }


#intro {
    margin: 10px 0;
    float: left;
    width: 100%;
}
    #intro .title {
        font-weight: 600;
        float: left;
        margin: 10px 0 20px;
    }
    #intro .names {
        font-weight: 300;
        margin: 13px 0 20px;
        float: right;
        font-size: 0.8em;
    }
    #intro #buttons {
        border-radius: 4px;
        border: 1px solid #0074D2;
        float: left;
        width: 100%;
    }
        button.intro {
            width: 50%;
            padding: 7px 0;
            margin: 0;
            float: left;
            background: #80A7DE;
            border: none;
            cursor: pointer;
            color: #FFFFFF;
            text-transform: uppercase;
        }
            button.intro:hover {
                background: rgba(255,255,255,0.1);
                color: #0074D2;
            }
            button.intro:active {
                background: rgba(255,255,255,0.2);
                color: #0074D2;
            }
            button.first {
                border-radius: 4px 0 0 4px;
            }
            button.last {
                border-left: 1px solid #0074D2;
                border-radius: 0 4px 4px 0;
            }


#log {
    width: 100%;
    clear: both;
    float: left;
}
    #log #console {
        height: 140px;
        overflow-y: scroll;
        border: 1px solid #B9BDC0;
        font-size: 0.8em;
        border-radius: 4px;
        background: #DDDDDD;
    }
    #log #clearConsole {
        margin: 10px 0;
        background: #80A7DE;
        border: 1px solid #0074D2;
        cursor: pointer;
        color: #FFFFFF;
        text-transform: uppercase;
        padding: 10px 14px;
        border-radius: 4px;
        float: right;
    }
    #log #benefits {
        margin: 10px 0;
        background: #80A7DE;
        border: 1px solid #0074D2;
        cursor: pointer;
        color: #FFFFFF;
        text-transform: uppercase;
        padding: 10px 14px;
        border-radius: 4px;
        float: left;
    }
        #log #benefits:hover,
        #log #clearConsole:hover {
            background: rgba(255,255,255,0.1);
            color: #0074D2;
        }
        #log #benefits:active,
        #log #clearConsole:active {
            background: rgba(255,255,255,0.2);
            color: #0074D2;
        }


#output {
    width: 100%;
    float: left;
    margin: 0 0 20px;
}
    #output #answer {
        width: 100%;
        float: left;
        font-size: 3em;
        margin: 0 0 20px;
    }
    #output #otherOutput {
        width: 50%;
        float: left;
        margin: 20px 0 10pxs;
        font-size: 0.7em;
        color: #DB6000;
    }
        #output #otherOutput label {
            width: 100%;
            float: left;
            clear: both;
            margin: 2px 0;
        }


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
    #intro .title {
        font-weight: 600;
        margin: 10px 0 0px;
        width: 100%;
        text-align: center;
    }
    #intro .names {
        font-weight: 300;
        margin: 13px 0 20px;
        font-size: 0.8em;
        width: 100%;
        text-align: center;
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    #intro .title {
        font-weight: 600;
        margin: 10px 0 0px;
        width: 100%;
        text-align: center;
    }
    #intro .names {
        font-weight: 300;
        margin: 13px 0 20px;
        font-size: 0.8em;
        width: 100%;
        text-align: center;
    }
}
